.hidden {
  visibility: hidden;
}

.sun {
  display: none;
}

.mon {
  grid-column: 1/2;
  grid-row: 2;
}

.tue {
  grid-column: 1/3;
  grid-row: 2;
}

.wed {
  grid-column: 1/4;
  grid-row: 2;
}

.thu {
  grid-column: 1/5;
  grid-row: 2;
}

.fri {
  grid-column: 1/6;
  grid-row: 2;
}

.sat {
  grid-column: 1/7;
  grid-row: 2;
}

.month-day {
  color: rgb(132, 132, 132);
  cursor: pointer;
  border: 3px solid transparent;
  font-weight: bold;
  padding: 2px;
  height: 25px;
  width: 25px;
}

.month-day-active {
  font-weight: bold;
  color: #d22a53;
  border: 3px solid #e61e50;
  border-radius: 50%;
  padding: 2px;
  height: 25px;
  width: 25px;
}
